:root {
  --color-main: #fff;
  --color-second: #f94447;
  --color-text: #020009;
  --bg-: #fafafa;

  --main-font: 'Montserrat', sans-serif;
  --second-font: 'Playfair Display', serif;
  --font: 'Jomolhari', serif;

  --bold: 700;
  --regular: 400;
  --light: 300;
}
